<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <ComponentGroup Id="EndpointAgentServiceComponents">
      <Component Id="cmpServiceEntrypoints" Directory="INITIALRUNTIMEDIR"
                 Guid="980AE24B-57BC-4B59-A18A-65B9B33A7906" Bitness="always64">
        <File Id="filInitialCore" Source="$(var.StagingDir)\ProgramFiles\versions\$(var.InitialRuntimeVersion)\pc_agent.exe"
              Name="pc_agent.exe" KeyPath="yes" />
        <ServiceInstall Id="svcEndpointAgent" Name="EndpointAgent"
                        DisplayName="Endpoint Agent"
                        Description="Headless Endpoint Platform device agent"
                        Type="ownProcess" Start="auto" ErrorControl="normal"
                        Account="NT AUTHORITY\LocalService" Vital="yes"
                        Arguments="--windows-service --data-dir &quot;[DATAROOT]&quot; --install-root &quot;[INSTALLFOLDER]&quot; --ca-file &quot;[DATAROOT]endpoint-ca.crt&quot; --endpoint-origin https://endpoint.sosnadmin.local --transport-mode gateway_wss --no-migration-http-pull-fallback">
          <util:ServiceConfig ServiceName="EndpointAgent"
                              FirstFailureActionType="restart"
                              SecondFailureActionType="restart"
                              ThirdFailureActionType="restart"
                              RestartServiceDelayInSeconds="60"
                              ResetPeriodInDays="1" />
        </ServiceInstall>
        <ServiceControl Id="ctlEndpointAgent" Name="EndpointAgent"
                        Stop="both" Remove="uninstall" Wait="yes" />

        <ServiceInstall Id="svcEndpointAgentUpdater" Name="EndpointAgentUpdater"
                        DisplayName="Endpoint Agent Updater"
                        Description="Demand-start offline Endpoint Agent update worker"
                        Type="ownProcess" Start="demand" ErrorControl="normal"
                        Account="LocalSystem" Vital="yes"
                        Arguments="--windows-updater-service">
          <util:ServiceConfig ServiceName="EndpointAgentUpdater"
                              FirstFailureActionType="restart"
                              SecondFailureActionType="restart"
                              ThirdFailureActionType="restart"
                              RestartServiceDelayInSeconds="60"
                              ResetPeriodInDays="1" />
        </ServiceInstall>
        <ServiceControl Id="ctlEndpointAgentUpdater" Name="EndpointAgentUpdater"
                        Stop="both" Remove="uninstall" Wait="yes" />
      </Component>
    </ComponentGroup>

    <CustomAction Id="RestrictUpdaterServiceStart" FileRef="filInitialCore"
                  ExeCommand="--windows-restrict-updater-start"
                  Execute="deferred" Impersonate="no" Return="check" HideTarget="yes" />
    <InstallExecuteSequence>
      <Custom Action="RestrictUpdaterServiceStart" After="InstallServices"
              Condition="NOT REMOVE~=&quot;ALL&quot;" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
