<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="EndpointAgentServiceComponents">
      <Component Id="cmpServiceEntrypoints" Directory="INSTALLFOLDER"
                 Guid="A10A61A1-B511-4A07-9D37-C592515D217E" Bitness="always64">
        <File Id="filServiceHost" Source="$(var.StagingDir)\ProgramFiles\endpoint-agent-service.exe"
              Name="endpoint-agent-service.exe" KeyPath="yes" />
        <ServiceInstall Id="svcEndpointAgent" Name="EndpointAgent"
                        DisplayName="Endpoint Agent"
                        Description="Headless Endpoint Platform device agent"
                        Type="ownProcess" Start="disabled" ErrorControl="normal"
                        Account="NT AUTHORITY\LocalService" Vital="yes"
                        Arguments="--agent-service" />
        <ServiceControl Id="ctlEndpointAgent" Name="EndpointAgent"
                        Stop="both" Remove="uninstall" Wait="yes" />
      </Component>
      <Component Id="cmpOfflineUpdater" Directory="INSTALLFOLDER"
                 Guid="E43B1790-43B8-4B08-A8F9-79B535026121" Bitness="always64">
        <File Id="filOfflineUpdater" Source="$(var.StagingDir)\ProgramFiles\endpoint-agent-updater.exe"
              Name="endpoint-agent-updater.exe" KeyPath="yes" />
        <ServiceInstall Id="svcEndpointAgentUpdater" Name="EndpointAgentUpdater"
                        DisplayName="Endpoint Agent Updater"
                        Description="Demand-start offline Endpoint Agent update worker"
                        Type="ownProcess" Start="disabled" ErrorControl="normal"
                        Account="LocalSystem" Vital="yes"
                        Arguments="--updater-service" />
        <ServiceControl Id="ctlEndpointAgentUpdater" Name="EndpointAgentUpdater"
                        Stop="both" Remove="uninstall" Wait="yes" />
      </Component>
      <Component Id="cmpBrowserPolicyService" Directory="INSTALLFOLDER"
                 Guid="8D2171DB-5357-4139-A3E4-F251B6AF602E" Bitness="always64">
        <File Id="filEndpointBrowserPolicy" Source="$(var.StagingDir)\ProgramFiles\EndpointBrowserPolicy.exe"
              Name="EndpointBrowserPolicy.exe" KeyPath="yes" />
        <ServiceInstall Id="svcEndpointBrowserPolicy" Name="EndpointBrowserPolicy"
                        DisplayName="Endpoint Browser Policy"
                        Description="Fixed Browser Sensor enterprise policy applicator"
                        Type="ownProcess" Start="auto" ErrorControl="normal"
                        Account="LocalSystem" Vital="yes" />
        <ServiceControl Id="ctlEndpointBrowserPolicy" Name="EndpointBrowserPolicy"
                        Start="install" Stop="both" Remove="uninstall" Wait="yes" />
      </Component>
      <Component Id="cmpTrayCompanion" Directory="INSTALLFOLDER"
                 Guid="*" Bitness="always64">
        <File Id="filEndpointAgentTray" Source="$(var.StagingDir)\ProgramFiles\EndpointAgentTray.exe"
              Name="EndpointAgentTray.exe" KeyPath="yes" />
        <RegistryValue Id="regEndpointAgentTray" Root="HKLM"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="EndpointAgentTray" Value="&quot;[#filEndpointAgentTray]&quot;"
                       Type="string" KeyPath="no" />
      </Component>
      <Component Id="cmpUserSensor" Directory="INSTALLFOLDER"
                 Guid="*" Bitness="always64">
        <File Id="filEndpointUserSensor" Source="$(var.StagingDir)\ProgramFiles\EndpointUserSensor.exe"
              Name="EndpointUserSensor.exe" KeyPath="yes" />
        <RegistryValue Id="regEndpointUserSensor" Root="HKLM"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="EndpointUserSensor" Value="&quot;[#filEndpointUserSensor]&quot;"
                       Type="string" KeyPath="no" />
      </Component>
      <Component Id="cmpBrowserBridge" Directory="INSTALLFOLDER"
                 Guid="66FCD71D-4188-4CB3-8D91-983E164C9134" Bitness="always64">
        <File Id="filEndpointBrowserBridge" Source="$(var.StagingDir)\ProgramFiles\EndpointBrowserBridge.exe"
              Name="EndpointBrowserBridge.exe" KeyPath="yes" />
        <File Id="filEndpointBrowserManifest" Source="$(var.StagingDir)\ProgramFiles\ru.sosnadmin.endpoint.browser.json"
              Name="ru.sosnadmin.endpoint.browser.json" />
        <RegistryValue Id="regEndpointChromeNativeHost" Root="HKLM"
                       Key="Software\Google\Chrome\NativeMessagingHosts\ru.sosnadmin.endpoint.browser"
                       Value="[#filEndpointBrowserManifest]" Type="string" KeyPath="no" />
        <RegistryValue Id="regEndpointChromiumNativeHost" Root="HKLM"
                       Key="Software\Chromium\NativeMessagingHosts\ru.sosnadmin.endpoint.browser"
                       Value="[#filEndpointBrowserManifest]" Type="string" KeyPath="no" />
      </Component>
    </ComponentGroup>

    <CustomAction Id="ConfigureFoundation" BinaryRef="EndpointInstallerHost"
                  ExeCommand="--installer-phase foundation-config --installer-session &quot;[ENDPOINT_INSTALLER_SESSION]&quot;"
                  Execute="deferred" Impersonate="no" Return="check" HideTarget="yes" />
    <CustomAction Id="ClassifyRuntimeRetirement" Property="ENDPOINT_RUNTIME_RETIRE" Value="1" />
    <CustomAction Id="ScheduleEndpointRootCleanup" BinaryRef="Wix4UtilCA_X64"
                  DllEntry="WixRemoveFoldersEx" Execute="immediate" Return="ignore" />
    <CustomAction Id="InstallerOwnerPreflight" BinaryRef="EndpointInstallerHost"
                  ExeCommand="--installer-phase msi-preflight --installer-session &quot;[ENDPOINT_INSTALLER_SESSION]&quot; --foundation-state &quot;[!EndpointAgentFeature]&quot; --foundation-action &quot;[&amp;EndpointAgentFeature]&quot; --runtime-state &quot;[!EndpointAgentInitialRuntimeFeature]&quot; --runtime-action &quot;[&amp;EndpointAgentInitialRuntimeFeature]&quot; --rollback-disabled &quot;[RollbackDisabled]&quot; --uninstall-finalization &quot;[ENDPOINT_UNINSTALL_FINALIZE]&quot;"
                  Execute="immediate" Return="check" HideTarget="yes" />
    <CustomAction Id="InstallerOwnerEnter" BinaryRef="EndpointInstallerHost"
                  ExeCommand="--installer-phase msi-enter --installer-session &quot;[ENDPOINT_INSTALLER_SESSION]&quot;"
                  Execute="deferred" Impersonate="no" Return="check" HideTarget="yes" />
    <CustomAction Id="InstallerOwnerComplete" BinaryRef="EndpointInstallerHost"
                  ExeCommand="--installer-phase msi-complete --installer-session &quot;[ENDPOINT_INSTALLER_SESSION]&quot;"
                  Execute="commit" Impersonate="no" Return="check" HideTarget="yes" />
    <InstallExecuteSequence>
      <Custom Action="ClassifyRuntimeRetirement" After="CostFinalize"
              Condition="NOT ENDPOINT_UNINSTALL_FINALIZE AND (!EndpointAgentInitialRuntimeFeature = 3 OR !EndpointAgentInitialRuntimeFeature = 2) AND &amp;EndpointAgentInitialRuntimeFeature = 2 AND &amp;EndpointAgentFeature = 3" />
      <Custom Action="InstallerOwnerPreflight" After="ClassifyRuntimeRetirement" />
      <Custom Action="InstallerOwnerEnter" After="InstallInitialize" />
      <Custom Action="InstallerOwnerComplete" Before="InstallFinalize" />
      <StopServices Condition="NOT ENDPOINT_UNINSTALL_FINALIZE AND NOT ENDPOINT_RUNTIME_RETIRE" />
      <DeleteServices Condition="NOT ENDPOINT_UNINSTALL_FINALIZE AND NOT ENDPOINT_RUNTIME_RETIRE" />
      <InstallServices Condition="NOT ENDPOINT_UNINSTALL_FINALIZE AND NOT ENDPOINT_RUNTIME_RETIRE" />
      <StartServices Condition="NOT ENDPOINT_UNINSTALL_FINALIZE AND NOT ENDPOINT_RUNTIME_RETIRE" />
      <MigrateFeatureStates Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <ProcessComponents Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <UnpublishFeatures Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <RemoveRegistryValues Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <RemoveFiles Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <RemoveFolders Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <CreateFolders Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <InstallFiles Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <WriteRegistryValues Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <RegisterUser Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <RegisterProduct Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <PublishFeatures Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <PublishProduct Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <RemoveExistingProducts After="InstallExecute" Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <Custom Action="ScheduleEndpointRootCleanup" Before="CostInitialize" Condition="NOT ENDPOINT_UNINSTALL_FINALIZE" />
      <Custom Action="ConfigureFoundation" After="InstallServices"
              Condition="NOT ENDPOINT_UNINSTALL_FINALIZE AND &amp;EndpointAgentFeature = 3 AND NOT ENDPOINT_RUNTIME_RETIRE AND NOT REMOVE~=&quot;ALL&quot;" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
